@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?Source+Sans+Pro');

html, body {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

.main-container {
	position: relative;
}

/* Header */

.navbar {
	position: fixed;
    top: 0;
    width: 100%;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #FF967B;
  	z-index: 999;
  	border-radius: 0;
}

.navbar-duplicate {

    width: 100%;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #E97584;
}

.navbar-list {
	list-style-type: none;
	padding: 0 45px;
}



.navbar-title, .navbar-title:hover, .navbar-title:active, .navbar-title:focus {
	color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 70px;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 0 25px;
}

.navbar-item {
	float: left;
}

.navbar--right {
	float: right;
}

.navbar-item-link, .navbar-item-link:hover, .navbar-item-link:active, .navbar-item-link:focus {
	display: block;
    color: white;
    text-align: center;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

/* Banner */

.banner-footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #FF967B;
	padding: 20px;
}

.banner-title {
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-size: 32px;
	font-weight: bold;
  line-height: 32px;
	align-self: center;
}

.banner-description {
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 18px;
    align-self: center;
    width: 30%;
}

.banner-subscription {
	align-self: center;
}

.banner-subscription-input {
	border: 1px solid #fff;
	padding: 15px;
	font-size: 16px;
	min-width: 300px;
	background-color: transparent;
	color: #fff;
	outline: 0;
}

.banner-subscription-input::placeholder {
	color: #fff;
}

.banner-subscription-submit {
	border: 1px solid transparent;
  border-radius: 0;
	padding: 15px 20px;
  margin-left: 15px;
	font-size: 16px;
	background-color: #008581;
	color: #fff;
	outline: 0;
}

/* Footer */

.footer {
	margin-right: 15%;
	display: flex;
	justify-content: space-around;
	background-color: #fff;
	padding: 45px 0;
}

.footer-siteInfo {
	width: 25%;
}

.footer-title,
.footer-title:hover,
.footer-title:active,
.footer-title:focus {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	letter-spacing: 5px;
	line-height: 36px;
}

.footer-description {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 18px;
	padding-top: 25px;
}

.footer-product {
	margin-top: -10px;
}

.footer-product-item,
.footer-product-item:hover,
.footer-product-item:active,
.footer-product-item:focus {
	color: #FF967B;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 29px;
    line-height: 51px;
}

.footer-info-title {
	color: #FF967B;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    padding-bottom: 4px;
}

.footer-info-item,
.footer-info-item:hover,
.footer-info-item:active,
.footer-info-item:focus {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* Splash Page */

.SplashPage-title {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	line-height: 59px;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 42px;
	width: 100%;
	z-index: 5;
}

.SplashPage-title-link, .SplashPage-title-link:hover {
	color: #fff;
}

.SplashPage-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0;
}

.SplashPage-section-title, .SplashPage-section-title:hover {
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-size: 55px;
	font-weight: bold;
}

.SplashPage-background {
	background-repeat: no-repeat;
	background-size: cover;
}

.shop-background {
	background-image: url("../assets/SHOP.png");
}

.experience-background {
	background-image: url("../assets/XP.png");
}

.stay-background {
	background-image: url("../assets/STAY.png");
}

/* Shop Page */
.ShopPage {
	position: relative;
	padding: 0 0 92px;
}

.ShopPage-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	padding: 140px 0 75px 0;
}
.ShopPage-title {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 74px;
	text-align: center;
	width: 100%;
	padding-bottom: 23px;
}
.ShopPage-description {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
	text-align: center;
	width: 60%;
}
.ShopPage-items {
	position: relative;
	padding: 0 92px 65px;
}
.ShopPage-item {
	width: 100%;
}
.ShopPage-imageContainer--landscape {
	margin: 60px auto;
	position: relative;
	z-index: 5;
}
.ShopPage-imageContainer--portrait {
	max-width: 70%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
.ShopPage-image-textContainer {
	position: absolute;
	margin: 16px;
	bottom: 0;
	left: 0;
	z-index: 10;
}
.ShopPage-image-text {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ShopPage-image-text--bold {
	font-weight: bold;
}
.ShopPage-imageContainer--portrait:hover .ShopPage-image-text,
.ShopPage-imageContainer--landscape:hover .ShopPage-image-text {
	opacity: 1;
}
.ShopPage-background-top {
	position: absolute;
	top: 0;
	width: 100%;
}
.ShopPage-background-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.ShopPage-background-image {
	width: 100%;
}
.ShopPage-image {
	width: 100%;
	object-fit: contain;
  transition: 0.3s;
}
.ShopPage-image:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.ShopPage-items-overlay {
	position: absolute;
    top: 130px;
    left: 18%;
    pointer-events: none;
    z-index: 10;
}
.ShopPage-items-overlay-image {
	width: 35vw;
	object-fit: contain;
}
.ShopPage-item-others {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.ShopPage-productContainer {
	margin-top: 90px;
}
.ShopPage-product-title {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: bold;
	line-height: 63px;
}
.ShopPage-product-description {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
    width: 80%;
}
.ShopPage-product-button,
.ShopPage-product-button:active,
.ShopPage-product-button:focus {
	background: transparent;
	color: #0D8582;
	border: 1px solid #0D8582;
	width: 200px;
	padding: 14px 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ShopPage-product-button:hover {
	background: #0D8582;
	color: #fff;
	border: 1px solid transparent;
}

/* Product Page */

.ProductPage {
	padding: 0;
}

.ProductPage-banner {
	position: relative;
	margin: 40px;
}

.ProductPage-banner-background {
	height: 80vh;
}

.ProductPage-banner-image {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.ProductPage-product {
	margin: 10vh 45% 5vh 3%;
    position: absolute;
    top: 0;
}

.ProductPage-product-info {
	background: #C1A095;
	padding: 16px 64px 40px 16px;
	z-index: 10;

}

.ProductPage-product-row {
	display: flex;
	padding-bottom: 10px;
}

.ProductPage-product-title {
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 74px;
}

.ProductPage-product-price,
.ProductPage-product-sizes {
	color: #fff;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 27px;
	padding-right: 5vw;
}

.ProductPage-product-size {
  margin-right: 15px;
}

.ProductPage-product-description {
	color: #fff;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	padding-top: 10px;
}

.ProductPage-product-action {
	padding-top: 7vh;
    padding-left: 16px;
}

.ProductPage-product-button,
.ProductPage-product-button:hover {
	background: #0D8582;
	color: #fff;
	border: 1px solid transparent;
	width: 200px;
	padding: 14px 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ProductPage-product-button:hover {
	background: #fff;
	color: #0D8582;
	border: 1px solid #0D8582;
}

.ProductPage-suggestions {
	padding: 20px 68px 60px;
}

.ProductPage-suggestions-title {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 56px;
	width: 100%;
}

.ProductPage-suggestions-gallery {
	padding-bottom: 56px;
}

.ProductPage-gallery-item {
	padding: 0 8px;
}

.ProductPage-gallery-image {
	width: 100%;
}

.ProductPage-suggestions-action {
	width: 100%;
}

.ProductPage-suggestions-button {
	background: #fff;
	color: #0D8582;
	border: 1px solid #0D8582;
	width: 200px;
	padding: 14px 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0 auto;
}
.ProductPage-suggestions-button:hover {
	background: #0D8582;
	color: #fff;
	border: 1px solid transparent;
}

/* Cart */
.CartPage-row {
	display: flex;
    flex-wrap: wrap;
}

.CartPage-cart {
	padding: 72px 65px;
}

.CartPage-cart-title {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 50px;
	float: left;
}

.CartPage-checkout {
	padding: 0;
	padding-bottom: 36px;
	margin: 0 auto;
}

.CartPage-checkout-button,
.CartPage-checkout-button:hover {
	background: #0D8582;
  height: 54px;
	color: #fff;
	border: 1px solid transparent;
	padding: 14px 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	font-weight: 600;
	display: block;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.CartPage-checkout-button:hover {
	background: #fff;
	color: #0D8582;
	border: 1px solid #0D8582;
}

.CartPage-checkout-subtotal {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.CartPage-checkout-subtotal-label {
	color: #000;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 20px;
	font-weight: bold;
}

.CartPage-checkout-subtotal-price {
	color: #000;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 20px;
}

.CartPage-cart-item {
	border-top: 1px solid #FF967B;
	padding: 32px 0;
	display: flex;
}

.CartPage-cart-item-image {
	width: 100%;
}

.CartPage-cart-item-info {
	align-self: flex-end;
}

.CartPage-cart-item-imageContainer {
	align-self: center;
}

.CartPage-cart-item-title {
	margin-top: 16px;
	padding-bottom: 10px;
	color: #000;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 20px;
	font-weight: bold;
}

.CartPage-cart-item-description {
	padding-bottom: 10px;
	color: #000;
	font-size: 14.8px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 21px;
}

.CartPage-cart-item-actionContainer {
	padding: 0;
	display: flex;
    justify-content: flex-end
}

.CartPage-cart-item-action {
	float: right;
    align-self: center;
}

.CartPage-cart-item-buttons {
	background: #fff;
	color: #0D8582;
	border: 1px solid #0D8582;
	width: 100px;
	padding: 9px 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 24px;
	align-self: center;
	display: flex;
}

.CartPage-cart-item-button {
	width: 33.333%;
	text-align: center;
}

.CartPage-cart-item-price {
	padding: 21px 6px;
	padding-bottom: 10px;
	color: #000;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 20px;
	float: right;
}

.CartPage-suggestions {
	background-color: #C1A095;
	padding: 75px 60px;
}

.CartPage-suggestions-title {
	color: #000;
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
}

.CartPage-suggestions-item {
	margin: 0 0 42px 0;
	position: relative;
	z-index: 5;
}

.CartPage-suggestions-item:first-of-type {
	margin: 42px 0 42px 0;
}

.CartPage-suggestions-image-textContainer {
	position: absolute;
	margin: 16px;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.CartPage-suggestions-image-text {

}
.CartPage-suggestions-image-text {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.CartPage-suggestions-image-text--bold {
	font-weight: bold;
}
.CartPage-suggestions-item:hover .CartPage-suggestions-image-text {
	opacity: 1;
}
.CartPage-suggestions-item-image {
	width: 100%;
}
/* Miscellaneous */
.col-xs-30,
.col-sm-30,
.col-md-30,
.col-lg-30, {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-40,
.col-sm-40,
.col-md-40,
.col-lg-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-30 {
    width: 30%;
    float: left;
}

.col-xs-40 {
    width: 40%;
    float: left;
}

.remove-padding {
	padding: 0;
}

@media (min-width: 768px) {
	.col-sm-30 {
        width: 30%;
        float: left;
    }
    .col-sm-40 {
	    width: 40%;
	    float: left;
	}
}

@media (min-width: 992px) {
    .col-md-30 {
        width: 30%;
        float: left;
    }
    .col-md-40 {
	    width: 40%;
	    float: left;
	}
}

@media (min-width: 1200px) {
    .col-lg-30 {
        width: 30%;
        float: left;
    }
    .col-lg-40 {
	    width: 40%;
	    float: left;
	}
}
